body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden; /* Para evitar barras de rolagem se a imagem for ligeiramente maior */
}

body {    
    background-color: #000000;
    /* A imagem de fundo agora será controlada pelo elemento img */
}

#background-image-element {
    position: fixed; /* Fixa a imagem na viewport */
    top: 0;
    left: 0;
    width: 100%; /* Garante que cubra toda a largura */
    height: 100%; /* Garante que cubra toda a altura */
    object-fit: cover; /* Similar ao background-size: cover; preenche a área, cortando se necessário */
    z-index: -1; /* Coloca a imagem atrás de qualquer outro conteúdo */
}